
<div id="user" class="viewContainer container-fluid">

  <div class="row">

    <div class="col-md-12">

      <a href="/">Back</a>
      <h1>Stats for {{name}}</h1>
      <h2>ARAM</h2>

    </div>

  </div>


  <div class="isotope">

      <div class="game {{ game.win }} champ-id-{{ game.champion }} col-md-4 col-sm-3 col-xs-12" ng-repeat="game in games | orderBy: '-game_date'">

        <div class="win"></div>

        <div class="stats">

          <p>Minion Kills: {{ game.minions }}</p>
          <p>Total Gold: {{ game.gold }}</p>
          <p>Kills: {{ game.kills }}</p>
          <p>Deaths: {{ game.deaths }}</p>
          <p>Assists: {{ game.assists }}</p>
          <p class="points">Points: {{ game.points }}</p>
          <p>Highest Spree: {{ game.spree }}</p>
          <p>Game Mode: {{ game.game_mode }}</p>
          <p>Game ID: {{ game.game_id }}</p>
          <p>Champion: <img src="http://lkimg.zamimg.com/shared/riot/images/champions/{{ game.champion }}.png"></p>

        </div>

        <div class="date"><span>{{ game.game_date | date:'yyyy-MM-dd HH:mm:ss' }}</span></div>

      </div>

  </div>

</div>
