div#user .game {
  height: auto;
  margin-bottom: 20px; }
  div#user .game .win,
  div#user .game .date {
    width: 100%;
    height: 20px;
    display: block;
    text-align: center; }
  div#user .game.false .win {
    background-color: red; }
  div#user .game.true .win {
    background-color: green; }
  div#user .game .stats {
    border: 1px solid black;
    text-align: center; }
  div#user .game .date {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black; }
  div#user .game .points {
    font-size: 22px; }
